include header
include admin-header
a(href="/admin" class='text-danger') Админка

h2.text-danger Информация о заказах
table
 tr
  th id
  th Дата заказа
  th Id заказчика
  th Id товара
  th Цена товара
  th Количество товара
  th(class='text-danger') Итого
  th Имя
  th Телефон
  th Адресс
 each val, index in order
  tr 
   td #{val['id']}
   td #{val['human_date']}
   td #{val['user_id']}
   td #{val['goods_id']}
   td #{val['goods_cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} руб
   td #{val['goods_amount']}
   td #{val['total'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} руб
   td #{val['user']}
   td #{val['phone']}
   td #{val['address']}